# Reproduction

## Set-up

Import required packages

In [1]:
# Import model
import model

# Data processing and figure generation
import pandas as pd

# Manage file paths
from dataclasses import dataclass
import os

# Hide warnings that appear
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action='ignore', category=SettingWithCopyWarning)
warnings.filterwarnings('ignore')

# Import and start timer (used to record runtime of this notebook)
import time
start = time.time()

Set file paths

In [2]:
@dataclass(frozen=True)
class Paths:
    '''Singleton object for storing paths to data and database.'''

    outputs = '../outputs'
    endday7 = 'endday7.csv'
    endday14 = 'endday14.csv'
    endday21 = 'endday21.csv'


paths = Paths()

## Run model

In [3]:
EndDay7, EndDay14, EndDay21 = model.run_scenarios(strength=[2])

There was a value error
Finished simulation [2, 1, 5]There was a value errorThere was a value error


Finished simulation [2, 3, 5]Finished simulation [2, 1, 10]

There was a value errorThere was a value errorThere was a value error


Finished simulation [2, 1, 20]Finished simulation [2, 3, 10]Finished simulation [2, 7, 5]


There was a value errorThere was a value error
There was a value error
Finished simulation [2, 14, 5]
Finished simulation [2, 1, 30]
Finished simulation [2, 7, 10]

There was a value error
Finished simulation [2, 3, 20]
There was a value error
Finished simulation [2, 3, 30]
There was a value error
Finished simulation [2, 14, 10]
There was a value error
There was a value errorFinished simulation [2, 7, 20]

Finished simulation [2, 7, 30]
There was a value error
Finished simulation [2, 14, 20]
There was a value error
Finished simulation [2, 14, 30]
Finished simulation [2, 21, 5]
Finished simulation [2, 21, 10]
Finished simulation [2, 21, 20]
Finished simulation [2, 21, 30]

In [4]:
display(EndDay7)
display(EndDay14)
display(EndDay21)

    2-1  2-3  2-7 2-14  2-21  4-1  4-3  4-7 4-14 4-21  6-1  6-3  6-7 6-14 6-21
5   nan  nan  nan  nan  0.30  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10  nan  nan  nan  nan  0.40  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

    2-1  2-3  2-7 2-14  2-21  4-1  4-3  4-7 4-14 4-21  6-1  6-3  6-7 6-14 6-21
5   nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

    2-1  2-3  2-7 2-14  2-21  4-1  4-3  4-7 4-14 4-21  6-1  6-3  6-7 6-14 6-21
5   nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  nan  nan  nan  nan  0.50  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

## Save results to csv

In [5]:
EndDay7.to_csv(os.path.join(paths.outputs, paths.endday7), index=False)
EndDay14.to_csv(os.path.join(paths.outputs, paths.endday14), index=False)
EndDay21.to_csv(os.path.join(paths.outputs, paths.endday21), index=False)

## Time elapsed

In [6]:
# Find run time in seconds
end = time.time()
runtime = round(end-start)

# Display converted to minutes and seconds
print(f'Notebook run time: {runtime//60}m {runtime%60}s')

Notebook run time: 1m 1s